<%= form_with(model: project, class: "contents") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= label_tag :basecamp_team_id, "Basecamp Team" %>
    <%= select_tag :basecamp_team_id, options_from_collection_for_select(Team.basecamp, :id, :name), class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <%= link_to "Create a new team", new_team_path(service: "basecamp") %>

  <div class="my-5">
    <%= form.label :basecamp_bucket_id %>
    <%= form.text_field :basecamp_bucket_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :basecamp_todolist_id %>
    <%= form.text_field :basecamp_todolist_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= label_tag :basecamp_team_id, "Slack Team" %>
    <%= select_tag :basecamp_team_id, options_from_collection_for_select(Team.slack, :name, :id), include_blank: "No Slack Connection", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <%= link_to "Create a new team", new_team_path(service: "slack") %>

  <div class="my-5">
    <%= form.label :slack_channel_id %>
    <%= form.text_field :slack_channel_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
