<!DOCTYPE html>
<html>
  <head>
    <title>Gatewood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased font-sans bg-gray-100 pb-10">
    <% unless Rails.env.production? %>
      <div class="bg-amber-100 text-center text-back p-3"><%= Rails.env.titlecase %> Environment</div>
    <% end %>
    <main class="container mx-auto mt-28 px-5">
      <%= turbo_frame_tag :flash do %>
        <%= render "layouts/flash" %>
      <% end %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
